# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.vs
.vs/Engine++/v17/Browse.VC.db-shm
.vs/Engine++/v17/Browse.VC.db-wal
.vs/Engine++/v17/Browse.VC.opendb
.vs/Engine++/v17/ipch/AutoPCH/1d9b900ad03f07bf/INPUTHANDLER.ipch
.vs/Engine++/v17/ipch/AutoPCH/1fd3d5cb672cd5c1/MOUSE.ipch
.vs/Engine++/v17/ipch/AutoPCH/21b9659513b0a013/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/23d471b730a121ae/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/3b0ed49b12684ffe/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/3e167706ff60d066/ERRORLOGGER.ipch
.vs/Engine++/v17/ipch/AutoPCH/520f9bf324f1ac3f/KEYBOARD.ipch
.vs/Engine++/v17/ipch/AutoPCH/521165e17a8339da/INPUTHANDLER.ipch
.vs/Engine++/v17/ipch/AutoPCH/60c8d9bf36442d2e/MOUSEEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/6a6a9722d93ae070/SHADERS.ipch
.vs/Engine++/v17/ipch/AutoPCH/6e95178f4cf6524f/MAIN.ipch
.vs/Engine++/v17/ipch/AutoPCH/77edc2bd2c360178/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/7b04179f0652708f/ERRORLOG.ipch
.vs/Engine++/v17/ipch/AutoPCH/8b4bc91e8811449e/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/8c31ca1aa98f0af9/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/91c467b8a72c4f28/VERTEX.ipch
.vs/Engine++/v17/ipch/AutoPCH/9ec8888e31d00304/KEYBOARDCLASS.ipch
.vs/Engine++/v17/ipch/AutoPCH/af422cc7d349ed3e/MOUSEEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/d104bf67ff10e3c8/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/e01812a6325c7a30/ENGINE.ipch
.vs/Engine++/v17/ipch/AutoPCH/ec93e7f7ed055f44/KEYBOARDEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/ee27ad667d796bf2/RENDERWINDOW.ipch
.vs/Engine++/v17/ipch/AutoPCH/fa3bf785254fb8ab/ADAPTERREADER.ipch
.vs/Engine++/v17/ipch/AutoPCH/fb42f4b82961432a/ERRORLOG.ipch
.vs/Engine++/FileContentIndex/9b515811-1eac-4dbd-b863-4e68b0c3a8ac.vsidx
.vs/Engine++/FileContentIndex/a94a3ff2-4e20-4017-8f1f-40277454d4a4.vsidx
.vs/Engine++/FileContentIndex/aa1cdd80-c79f-49f6-b3d3-b83033299c0a.vsidx
.vs/Engine++/FileContentIndex/c875d754-73c1-47f5-93e0-44a945fbbc17.vsidx
.vs/Engine++/FileContentIndex/read.lock
.vs/Engine++/v17/.suo
.vs/Engine++/v17/Browse.VC.db
.vs/Engine++/FileContentIndex/f001310f-0590-44b4-9faf-c648fb8b4d93.vsidx
.vs/Engine++/v17/ipch/AutoPCH/27bbc179cd199a9e/MODEL.ipch
.vs/Engine++/v17/ipch/AutoPCH/38ea608594ac1e3f/WINDOWCONTAINER.ipch
.vs/Engine++/v17/ipch/AutoPCH/7e3a6b217df463ce/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/98007bb270d3e190/CAMERA.ipch
.vs/Engine++/v17/ipch/AutoPCH/a488e7078d97dbbb/ADAPTERREADER.ipch
.vs/Engine++/v17/ipch/AutoPCH/c1643edb3334dc16/MESH.ipch
.vs/Engine++/v17/ipch/AutoPCH/c50f00beee418520/SHADERS.ipch
.vs/Engine++/v17/ipch/AutoPCH/c81548ba62debd5a/IMGUI_IMPL_DX11.ipch
.vs/Engine++/v17/ipch/AutoPCH/c8cc6022cebb5360/ENGINE.ipch
.vs/Engine++/v17/ipch/AutoPCH/e49c8553a35d6e2c/IMGUI.ipch
*.vsidx
.vs/Engine++/v17/ipch/AutoPCH/35e4e1f007795f66/MESH.ipch
.vs/Engine++/v17/ipch/AutoPCH/f41d018b1cebfae/MODEL.ipch
.vs/Engine++/v17/ipch/AutoPCH/8fbda0c9ab2ca148/IMGUI.ipch
.vs/Engine++/v17/ipch/AutoPCH/92da8bd4cd207c11/TIMER.ipch
.vs/Engine++/v17/ipch/AutoPCH/bb5d6722ceed703b/STRINGCONVERTER.ipch
.vs/Engine++/v17/ipch/AutoPCH/d6a9a1165f7ca962/RENDERWINDOW.ipch
.vs/Engine++/v17/ipch/AutoPCH/ed1958d00dcb013f/MAIN.ipch
.vs/Engine++/v17/ipch/AutoPCH/39b2076f3a59a3a0/IMGUI_DEMO.ipch
.vs/Engine++/v17/ipch/AutoPCH/7757a7ccd178fc50/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/209cc238d01a922f/WINDOWCONTAINER.ipch
.vs/Engine++/v17/ipch/AutoPCH/8ec41d5664da7720/CAMERA.ipch
.vs/Engine++/v17/ipch/AutoPCH/b68d0dbe0ac80392/TERRAINGENERATOR.ipch
.vs/Engine++/v17/ipch/AutoPCH/f3a5d6558772c0f9/TERRAINGENERATOR.ipch
.vs/Engine++/v17/ipch/AutoPCH/597d09a97fb7cbc1/TIMER.ipch
.vs/Engine++/v17/ipch/AutoPCH/a5f3c6f53e821c10/PERLINNOISE.ipch
.vs/Engine++/v17/ipch/AutoPCH/ed685f0dfae0c401/PERLINNOISE.ipch
.vs/Engine++/v17/TestStore/0/testlog.manifest
.vs/Engine++/v17/TestStore/0/000.testlog
.vs/Engine++/v17/ipch/AutoPCH/dabc22b087aa40cb/DIRECTIONALLIGHT.ipch
.vs/Engine++/v17/ipch/AutoPCH/4b39a74a56f3c16a/IMGUI_IMPL_DX11.ipch
.vs/Engine++/v17/ipch/AutoPCH/febe74a04819e224/GIZMOCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/e33f5b247217ef41/MATERIALCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/e25d84ad4752130e/COMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/d4c78e419e9fc8d5/MATERIALMANAGER.ipch
.vs/Engine++/v17/ipch/AutoPCH/89c4602552753cc2/MATERIAL.ipch
.vs/Engine++/v17/ipch/AutoPCH/821620f5d58c3416/TRANSFORMCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/779e1ea92cdab5bc/RAY.ipch
.vs/Engine++/v17/ipch/AutoPCH/62d3d605a2c72829/GAMEOBJECT.ipch
.vs/Engine++/v17/ipch/AutoPCH/5599f8cc14426e28/GAMEOBJECT.ipch
.vs/Engine++/v17/ipch/AutoPCH/4f6c199e9f3f0edd/SPHERECOLLIDERCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/485c712a1fdffb2d/BOXCOLLIDERCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/31864822bcf96119/MODELCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/2f888e2cc70f7658/IMGUI.ipch
.vs/Engine++/v17/ipch/AutoPCH/1ce6fa887379401d/MESHCOMPONENT.ipch
.vs/Engine++/v17/fileList.bin
.vs/Engine++/v17/ipch/AutoPCH/b8d87e643e641a50/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/a361849c4e50ee5f/MATERIALCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/a1cc07d49c509dbc/RENDERWINDOW.ipch
.vs/Engine++/v17/ipch/AutoPCH/7f1674ab351a7542/CAMERA.ipch
.vs/Engine++/v17/ipch/AutoPCH/5c90566b0eab704d/ADAPTERREADER.ipch
.vs/Engine++/v17/ipch/AutoPCH/45ce871529eaa802/ENGINE.ipch
.vs/Engine++/v17/ipch/AutoPCH/42616016e261ad21/IMGUI_IMPL_WIN32.ipch
.vs/Engine++/v17/ipch/AutoPCH/1a7f063df6cbbfdc/MESH.ipch
.vs/Engine++/v17/ipch/AutoPCH/8e397ebe79e76c37/COMPONENTFACTORY.ipch
.vs/Engine++/v17/ipch/AutoPCH/5d857fa6121dc58e/COLLIDERCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/cde31be14a5a5401/IMGUIRENDERER.ipch
.vs/Engine++/v17/ipch/AutoPCH/d17e3bea5b725de4/SCENESERIALIZER.ipch
.vs/Engine++/v17/ipch/AutoPCH/2bf23c898c64e2e4/TRANSFORMCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/3da26a39ac734fbf/BOXCOLLIDERCOMPONENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/5e09e907258e4793/IMGUIRENDERER.ipch
.vs/Engine++/v17/ipch/AutoPCH/9b8fd1ccef4f8912/SCENESERIALIZER.ipch
