# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*/.vs
.vs/Engine++/v17/Browse.VC.db-shm
.vs/Engine++/v17/Browse.VC.db-wal
.vs/Engine++/v17/Browse.VC.opendb
.vs/Engine++/v17/ipch/AutoPCH/1d9b900ad03f07bf/INPUTHANDLER.ipch
.vs/Engine++/v17/ipch/AutoPCH/1fd3d5cb672cd5c1/MOUSE.ipch
.vs/Engine++/v17/ipch/AutoPCH/21b9659513b0a013/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/23d471b730a121ae/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/3b0ed49b12684ffe/MOUSEINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/3e167706ff60d066/ERRORLOGGER.ipch
.vs/Engine++/v17/ipch/AutoPCH/520f9bf324f1ac3f/KEYBOARD.ipch
.vs/Engine++/v17/ipch/AutoPCH/521165e17a8339da/INPUTHANDLER.ipch
.vs/Engine++/v17/ipch/AutoPCH/60c8d9bf36442d2e/MOUSEEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/6a6a9722d93ae070/SHADERS.ipch
.vs/Engine++/v17/ipch/AutoPCH/6e95178f4cf6524f/MAIN.ipch
.vs/Engine++/v17/ipch/AutoPCH/77edc2bd2c360178/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/7b04179f0652708f/ERRORLOG.ipch
.vs/Engine++/v17/ipch/AutoPCH/8b4bc91e8811449e/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/8c31ca1aa98f0af9/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/91c467b8a72c4f28/VERTEX.ipch
.vs/Engine++/v17/ipch/AutoPCH/9ec8888e31d00304/KEYBOARDCLASS.ipch
.vs/Engine++/v17/ipch/AutoPCH/af422cc7d349ed3e/MOUSEEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/d104bf67ff10e3c8/KEYBOARDINPUT.ipch
.vs/Engine++/v17/ipch/AutoPCH/e01812a6325c7a30/ENGINE.ipch
.vs/Engine++/v17/ipch/AutoPCH/ec93e7f7ed055f44/KEYBOARDEVENT.ipch
.vs/Engine++/v17/ipch/AutoPCH/ee27ad667d796bf2/RENDERWINDOW.ipch
.vs/Engine++/v17/ipch/AutoPCH/fa3bf785254fb8ab/ADAPTERREADER.ipch
.vs/Engine++/v17/ipch/AutoPCH/fb42f4b82961432a/ERRORLOG.ipch
.vs/Engine++/FileContentIndex/9b515811-1eac-4dbd-b863-4e68b0c3a8ac.vsidx
.vs/Engine++/FileContentIndex/a94a3ff2-4e20-4017-8f1f-40277454d4a4.vsidx
.vs/Engine++/FileContentIndex/aa1cdd80-c79f-49f6-b3d3-b83033299c0a.vsidx
.vs/Engine++/FileContentIndex/c875d754-73c1-47f5-93e0-44a945fbbc17.vsidx
.vs/Engine++/FileContentIndex/read.lock
.vs/Engine++/v17/.suo
.vs/Engine++/v17/Browse.VC.db
.vs/Engine++/FileContentIndex/f001310f-0590-44b4-9faf-c648fb8b4d93.vsidx
.vs/Engine++/v17/ipch/AutoPCH/27bbc179cd199a9e/MODEL.ipch
.vs/Engine++/v17/ipch/AutoPCH/38ea608594ac1e3f/WINDOWCONTAINER.ipch
.vs/Engine++/v17/ipch/AutoPCH/7e3a6b217df463ce/GRAPHICS.ipch
.vs/Engine++/v17/ipch/AutoPCH/98007bb270d3e190/CAMERA.ipch
.vs/Engine++/v17/ipch/AutoPCH/a488e7078d97dbbb/ADAPTERREADER.ipch
.vs/Engine++/v17/ipch/AutoPCH/c1643edb3334dc16/MESH.ipch
.vs/Engine++/v17/ipch/AutoPCH/c50f00beee418520/SHADERS.ipch
.vs/Engine++/v17/ipch/AutoPCH/c81548ba62debd5a/IMGUI_IMPL_DX11.ipch
.vs/Engine++/v17/ipch/AutoPCH/c8cc6022cebb5360/ENGINE.ipch
.vs/Engine++/v17/ipch/AutoPCH/e49c8553a35d6e2c/IMGUI.ipch
*.vsidx
.vs/Engine++/v17/ipch/AutoPCH/35e4e1f007795f66/MESH.ipch
.vs/Engine++/v17/ipch/AutoPCH/f41d018b1cebfae/MODEL.ipch
